{% extends "syllabooster/base.html" %}

{% block title %}Course List{% endblock %}

{% block content %}
    <section class="hero is-small is-info">
        <div class="hero-body">
            <p class="title">Teacher {{ user.get_username }}</p>
        </div>
    </section>
    <div class="section">
        <div class="columns">
            <div class="column is-full">
                {% for course in course_list %}
                    <div class="field has-addons">
                        <p class="control" style="width: 100%;">
                            <a class="button is-link is-fullwidth"
                               href={% url 'syllabooster:currentunit' course.id %}>
                                {{ course.name }}
                            </a>
                        </p>
                        <p class="control">
                            <a class="button is-link is-outlined"
                               href={% url 'syllabooster:unitlist' course.id %}>
                                <span class="icon"><i class="fa-solid fa-list"></i></span>
                            </a>
                        </p>
                    </div>
                {% empty %}
                    <a class="button is-link is-fullwidth is-outlined">
                        You don't have any courses...
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
