{% extends "syllabooster/base.html" %}

{% block title %}Course List{% endblock %}

{% block content %}
    <header class="fill">
        <nav>
            <button class="circle transparent"><i>menu</i></button>
            <h6 class="max center-align">{{ user.get_username }}</h6>
            <button class="circle transparent"><i>account_circle</i></button>
        </nav>
    </header>
    <article class="fill">
        <div class="list">
            {% for course in course_list %}
                <li>
                    <div class="max">
                        <nav class="group split">
                            <a class="max button left-round secondary"
                               href={% url 'syllabooster:currentunit' course.id %}>
                                {{ course.name }}
                            </a>
                            <a class="button right-round square secondary"
                               href={% url 'syllabooster:unitlist' course.id %}>
                                <i>menu</i>
                            </a>
                        </nav>
                    </div>
                </li>
            {% empty %}
                <a class="button max error">
                    You don't have any courses...
                </a>
            {% endfor %}
        </div>
    </article>
{% endblock %}
