{% extends "syllabooster/base.html" %}

{% block title %}Unit List{% endblock %}

{% block content %}
    <header class="fill">
        <nav>
            <a class="button circle transparent"
               href="{% url 'syllabooster:courselist' %}">
                <i>home</i>
            </a>
            <a class="max center-align button square transparent" href="{% url 'syllabooster:currentunit' course.id %}">
                <h6 class="max center-align">{{ course.name }}</h6>
            </a>
            <button class="circle transparent"><i>account_circle</i></button>
        </nav>
    </header>
    <nav class="max">
        <div class="list max no-space">
            {% for unit in unit_list %}
                <li>
                    <a href={% url 'syllabooster:unit' course.id unit.id %}>
                        <button class="max responsive {% if unit.position < currentunit.position %} secondary {% elif unit.position > currentunit.position %} border {% else %} error {% endif %} left-align">
                            {{ unit.title }}
                        </button>
                    </a>
                </li>
            {% endfor %}
        </div>
    </nav>
{% endblock %}
